<header class="row">
  <div class="col-12">
    <div class="jumbotron text-center">
      <h1>Welcome to dev match</h1>
      <h3>A membership site for devs to meet</h3>
    </div>
  </div>
</header>
<main class="row">
  <section class="col-md-6">
    <div class="card text-center membership-card">
      <h4>Basic Membership</h4>
      <p>Sign up for free and get basic access to the community.</p>
      <footer>
        <%= link_to "Sign up free", new_user_registration_path(plan: @basic_plan.id), class: "btn btn-primary membership-link" %>
      </footer>
    </div>
  </section>
  <section class="col-md-6">
    <div class="card text-center membership-card">
      <h4>Pro Membership</h4>
      <p>Sign up for the pro account for $10/month and get access to contact info!</p>
      <footer>
        <%= link_to "Sign up pro", new_user_registration_path(plan: @pro_plan.id), class: "btn btn-success membership-link" %>
      </footer>
    </div>
  </section>
</main>